{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% set projet = page.find(header_var('projet_url')|defined(theme_var('projet-page'))) %}


{% block content %}

    {{ page.content|raw }}

    <h1 class="my-5 font-bold">Projets</h1>

    <ul class="grid grid-cols-4 gap-4 my-5">
    {% for child in collection %}
        {% include 'partials/projet-list-item.html.twig' with { projet: page, page: child } %}
    {% endfor %}
    </ul>
{% endblock %}
