<!DOCTYPE html>
<html lang="fr">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>doc.randomlab.io</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock head %}

{% block stylesheets %}
    {# {% do assets.addCss('theme://css/reset.css') %}
    {% do assets.addCss('theme://css/fonts.css') %} #}
    {% do assets.addCss('theme://css/main.min.css') %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 101) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}

</head>
<body class="font-mono m-5 bg-red-100">

{% block header %}

    <header class="flex flex-col md:flex-row justify-between font-bold">
    {% include 'partials/navigation.html.twig' %}
    </header>

{% endblock %}
<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-400">
{% block breadcrumb %}
    <section class="my-5">
    {% include 'partials/breadcrumb.html.twig' %}
    </section>
{% endblock %}
<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-400">
{% block body %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

{% endblock %}

</body>
</html>
