<h3>{% if page.header.author %}
<span class="font-semibold">{{ page.header.author }}</span>
{% endif %}{{ page.date|date(system.pages.dateformat.short) }}</h3>
<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

<h1 class="text-xl underline">{{ page.title }}</h1>


{{ page.content|raw }}
