{% set image = page.media.images|first %}
{% set author = page.header.author %}

<article>

{% if image %}
    <h1><a href="{{ page.url }}">
        {{ image.cropZoom(400,300).html|raw }}
    </a></h1>
{% else %}
    <h1><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endif %}
</article>
